/*-----------------------*
  #ANIMATION
 *-----------------------*/

@keyframes fade_in {
    0% {
    opacity                     : 0;
    }

    100% {
    opacity                     : 1;
    }
}

/*-----------------------*
  #CELLS
 *-----------------------*/

// Chrome has strange behavior of absolute positioned elements inside flex container

.flag[for^='f0'] {
    top: 0;
}

.flag[for^='f1'] {
    top: 10%;
}

.flag[for^='f2'] {
    top: 20%;
}

.flag[for^='f3'] {
    top: 30%;
}

.flag[for^='f4'] {
    top: 40%;
}

.flag[for^='f5'] {
    top: 50%;
}

.flag[for^='f6'] {
    top: 60%;
}

.flag[for^='f7'] {
    top: 70%;
}

.flag[for^='f8'] {
    top: 80%;
}

.flag[for^='f9'] {
    top: 90%;
}

.flag[for$='0'] {
    left: 0;
}

.flag[for$='1'] {
    left: 10%;
}

.flag[for$='2'] {
    left: 20%;
}

.flag[for$='3'] {
    left: 30%;
}

.flag[for$='4'] {
    left: 40%;
}

.flag[for$='5'] {
    left: 50%;
}

.flag[for$='6'] {
    left: 60%;
}

.flag[for$='7'] {
    left: 70%;
}

.flag[for$='8'] {
    left: 80%;
}

.flag[for$='9'] {
    left: 90%;
}
/*-----------------------*
  #STYLES
 *-----------------------*/

html {
    background                  : #e0f2f1;
    font                        : 400 20px/1.5 sans-serif;
    -ms-text-size-adjust        : 100%;
    -webkit-text-size-adjust    : 100%;
    -webkit-font-smoothing      : antialiased;
    -moz-osx-font-smoothing     : grayscale;
}

body {
    margin                      : 0 .5rem;
    min-width                   : 320px;
    color                       : #263238;
    counter-reset               : score;
    animation                   : fade_in 1s backwards;
    user-select                 : none;
}

body,
label,
.counter,
.toggler {
    box-sizing                  : border-box;
}

label,
a {
    color                       : inherit;
    outline                     : 0;
    text-decoration             : none;
    transition                  : background-color .15s ease, transform .2s ease;
    touch-action                : manipulation;
    -webkit-tap-highlight-color : transparent;
}

h1 {
    margin                      : 1rem 0;
    font-size                   : 1.8rem;
    font-weight                 : 700;
}

h1::first-letter {
    padding                     : 5px 2px 0 18px;
    background                  : rgba(67,160,71,0.8);
}

.banner {
    position                    : absolute;
    top                         : -14px;
    left                        : 170px;
    font-family                 : monospace;
    font-size                   : 12px;
    text-decoration             : underline;
    word-spacing                : -4px;
    letter-spacing              : 1px;
}

.banner::first-letter {
    color                       : #ef5350;
}

.wrapper,
.counter,
header,
footer {
    position                    : relative;
    width                       : 100%;
    max-width                   : 500px;
    margin                      : 0 auto;
}

.wrapper,
.field,
.flag {
    border                      : 1px solid currentColor;
}

.wrapper {
    margin-top                  : 3rem;
    box-shadow                  : 0 2px 6px #546e7a;
}

.wrapper::after {
    content                     : '';
    display                     : block;
    clear                       : both;
}

.trigger,
.toggler {
    position                    : absolute;
    top                         : -3rem;
    right                       : 0;
    width                       : 2.5rem;
    height                      : 2.5rem;
    border-radius               : 50%;
}

.trigger {
    z-index                     : 20;
}

.toggler {
    border                      : 2px solid currentColor;
    transition                  : transform .4s ease, background-color .15s ease;
    transform-style             : preserve-3d;
    will-change                 : transform;
    box-shadow                  : 0 2px 6px #546e7a;
}

.front,
.back {
    position                    : absolute;
    top                         : 0;
    left                        : 0;
    width                       : 100%;
    height                      : 100%;
    border-radius               : 50%;
    backface-visibility         : hidden;
}

.front {
    z-index                     : 0;
}

.back {
    transform                   : rotateY(180deg);
}

.front::before,
.back::before {
    margin-left                 : 2px;
}

input[id='t']:checked ~ .toggler {
    transform                   : rotateY(180deg);
}

input:checked + .number::before,
input:checked + .bomb::before,
input:checked + .flag::before,
.front::before,
.back::before {
    position                    : absolute;
    top                         : 50%;
    left                        : 50%;
    transform                   : translate(-50%, -50%);
}

input,
.gameover,
.retry {
    display                     : none;
}

.win,
.next {
    display                     : flex;
}

.field {
    position                    : relative;
    float                       : left;
    width                       : 10%;
    padding-bottom              : 10%;
}

.field,
.front {
    background                  : #bdbdbd;
}

.flag,
.back {
    background                  : #c8e6c9;
}

.flag {
    position                    : absolute;
    width                       : 10%;
    height                      : 10%;
    z-index                     : -10;
}

input:checked + .field:not(.bomb) {
    border-color                : #546e7a;
    pointer-events              : none;
    counter-increment           : score;
}

input:checked + .empty {
    background                  : #eceff1;
}

input:checked + .number {
    background                  : #ffcdd2;
}

input:checked + .bomb {
    border-color                : #37474f;
    background                  : #ef5350;
}

input:checked + .number::before,
input:checked + .bomb::before {
    content                     : attr(data-value);
}

input:checked + .flag::before,
.back::before {
    content                     : '\1F6A9';
}

.front::before {
    content                     : '\1F4A3';
}

input:checked + .bomb ~ .gameover,
input:checked + .bomb ~ .retry {
    display                     : flex;
}

input:not(:checked) + .field:not(.bomb) ~ .win,
input:not(:checked) + .field:not(.bomb) ~ .next {
    display                     : none;
}

input[id='t']:checked ~ input:not(:checked) + .field + input + .flag,
input:not(:checked) + .field + input:checked + .flag {
    z-index                     : 10;
}

.counter,
.about {
    font-family                 : monospace;
    font-size                   : 15px;
}

.counter {
    padding-top                 : 1rem;
}

.counter > b::after {
    content                     : counter(score);
    color                       : #43a047;
}

.about {
    position                    : absolute;
    top                         : -1.35rem;
    right                       : 0;
    will-change                 : transform;
}

.popup {
    position                    : absolute;
    left                        : 0;
    width                       : 100%;
}

.message {
    top                         : -3rem;
    font-size                   : 1.5rem;
}

.gameover {
    color                       : #ef5350;
}

.win {
    color                       : #43a047;
}

.button {
    top                         : -4rem;
    bottom                      : 0;
    z-index                     : 20;
}

.button > a {
    margin                      : auto;
    padding                     : .5rem 1rem;
    border-radius               : 2px;
    background                  : rgba(67,160,71,0.8);
    color                       : #fff;
}

/*-----------------------*
  #STATES
 *-----------------------*/

@media (min-device-width: 1280px) {
    a:hover {
        transform               : scale(1.5);
    }
    
    input[id='t']:not(:checked) + .trigger:hover + .toggler > .front, {
        background              : #9e9e9e;
    }

    input[id='t']:checked + .trigger:hover + .toggler > .back,
    .flag:hover {
        background              : #a5d6a7;
    }
}

a:focus,
a:active {
    transform                   : scale(1.5);
}

input[id='t']:not(:checked) + .trigger:active + .toggler > .front {
    background                  : #9e9e9e;
}

input[id='t']:checked + .trigger:active + .toggler > .back {
    background                  : #a5d6a7;
}