/*-----------------------*
  #ANIMATION
 *-----------------------*/

@keyframes fade_in {
    0% {
    opacity                     : 0;
    }

    100% {
    opacity                     : 1;
    }
}

@keyframes bg {
    0% {
    background-color            : rgba(241,248,233,0);
    }

    16% {
    background-color            : rgba(241,248,233,1);
    }

    32% {
    background-color            : rgba(241,248,233,0);
    }

    33% {
    background-color            : rgba(255,248,225,0);
    }

    50% {
    background-color            : rgba(255,248,225,1);
    }

    66% {
    background-color            : rgba(255,248,225,0);
    }

    67% {
    background-color            : rgba(232,234,246,1);
    }

    83% {
    background-color            : rgba(232,234,246,0);
    }

    100% {
    background-color            : rgba(232,234,246,1);
    }
}

/*-----------------------*
  #STYLES
 *-----------------------*/

html {
    font                        : 400 20px/1.5 sans-serif;
    -ms-text-size-adjust        : 100%;
    -webkit-text-size-adjust    : 100%;
    -webkit-font-smoothing      : antialiased;
    -moz-osx-font-smoothing     : grayscale;
}

body {
    margin                      : 0;
    min-width                   : 320px;
    text-align                  : center;
    color                       : #263238;
    counter-reset               : score;
    animation                   : fade_in 1s backwards, bg 300s infinite;
    -webkit-user-select         : none;
    user-select                 : none;
}

main {
    padding                     : 0 .5rem;
}

main,
label,
.counter {
    box-sizing                  : border-box;
}

label,
a {
    color                       : inherit;
    text-decoration             : none;
    transition                  : background-color .15s ease;
    -webkit-tap-highlight-color : transparent;
    touch-action                : manipulation;
}

svg {
    display                     : inline-block;
    vertical-align              : bottom;
}

h1 {
    margin                      : 1.5rem 0;
    font-weight                 : 700;
}

h1::first-letter {
    padding                     : 5px 2px 0 18px;
    background                  : rgba(67,160,71,0.8);
}

.banner {
    position                    : absolute;
    top                         : -13px;
    right                       : -4px;
    font-family                 : monospace;
    font-size                   : 13px;
    text-decoration             : overline;
}

.banner::first-letter {
    color                       : #ef5350;
}

.wrapper,
.counter,
header,
footer {
    position                    : relative;
    width                       : 100%;
    max-width                   : 500px;
    margin                      : 0 auto;
}

header {
    max-width                   : 320px
}

.wrapper,
label {
    border                      : 1px solid currentColor;
}

.wrapper {
    display                     : flex;
    flex-wrap                   : wrap;
    margin-top                  : 2rem;
    box-shadow                  : 0 2px 6px #546e7a;
}

input,
.gameover,
.retry {
    display                     : none;
}

.win,
.next {
    display                     : flex;
}

label {
    position                    : relative;
    width                       : 10%;
    padding-bottom              : 10%;
    background                  : #bdbdbd;
}

input:checked + label:not(.bomb) {
    border-color                : #546e7a;
    pointer-events              : none;
    counter-increment           : score;
}

input:checked + .empty {
    background                  : #eceff1;
}

input:checked + .number {
    background                  : #ffcdd2;
}

input:checked + .bomb {
    border-color                : #37474f;
    background                  : #ef5350;
}

input:checked + .number::before,
input:checked + .bomb::before {
    content                     : attr(data-value);
    position                    : absolute;
    top                         : 50%;
    left                        : 50%;
    transform                   : translate(-50%, -50%);
}

input:checked + .bomb ~ .gameover,
input:checked + .bomb ~ .retry {
    display                     : flex;
}

input:not(:checked) + label:not(.bomb) ~ .win,
input:not(:checked) + label:not(.bomb) ~ .next {
    display                     : none;
}

.counter,
.about {
    font-family                 : monospace;
    font-size                   : 15px;
}

.counter {
    padding-top                 : 1rem;
    text-align                  : left;
}

.counter > b::after {
    content                     : counter(score);
    color                       : #43a047;
}

.about {
    position                    : absolute;
    top                         : -1.3rem;
    right                       : .5rem;
}

.popup {
    position                    : absolute;
    left                        : 0;
    width                       : 100%;
}

.message {
    top                         : -2.8rem;
    justify-content             : center;
    font-size                   : 1.8rem;
}

.gameover {
    color                       : #ef5350;
}

.win {
    color                       : #43a047;
}

.button {
    top                         : 0;
    bottom                      : 0;
}

.button > a {
    margin                      : auto;
    padding                     : .5rem 1rem;
    border-radius               : 2px;
    background                  : rgba(67,160,71,0.8);
    color                       : #fff;
}

/*-----------------------*
  #STATES
 *-----------------------*/

@media (min-device-width: 1280px) {
    a:hover {
        text-decoration         : underline;
    }
    
    label:hover {
        background              : #9e9e9e;
    }
}

a:focus,
a:active {
    text-decoration             : underline;
    outline                     : 0;
}